html,
body,
#root {
  height: 100%;
}

.app {
  background: linear-gradient(90deg, #0c095e, #1045db);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 150px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: font-size 0.3s ease;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: portrait) {
  .title {
    font-size: 60px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: landscape),
  only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .title {
    font-size: 90px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape),
  only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .title {
    font-size: 120px;
  }
}
